@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

$font-sans: "Source Sans Pro", "Helvetica Neue", "Calibri", sans-serif;
$font-size: 15px;

$black: #222222;
$snow: #fafafa;

$gray1: #444444;
$gray2: #666666;
$gray3: #dddddd;

$blue1: #3084bb;
