@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Lato');

$font-sans: "Open Sans", "Helvetica Neue", "Calibri", sans-serif;
$font-header: "Lato", sans-serif;
$font-mono: "Source Code Pro", monospace;
$font-size: 15px;

$black: #222222;
$white: #ffffff;
$snow1: #fafafa;
$snow2: #fcfcfc;

$gray1: #444444;
$gray2: #666666;
$gray3: #dddddd;

$blue1: #3084bb;

$radius1: 3px;
$radius2: 5px;
