@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
#main-nav {
  border-bottom: 1px solid #dddddd;
  background-color: #fafafa; }

ul#main-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center; }
  ul#main-menu ul {
    background-color: white;
    display: none;
    padding: 0.5em;
    z-index: 10; }
  ul#main-menu li {
    list-style: none;
    display: inline-block;
    position: relative;
    white-space: nowrap; }
  ul#main-menu > li:last-of-type {
    float: none !important;
    position: absolute;
    right: 0; }
  ul#main-menu a {
    padding: 1em;
    display: block; }
    ul#main-menu a:hover {
      text-decoration: none; }
  ul#main-menu li:hover > ul {
    display: block;
    position: absolute;
    text-align: initial;
    border: 1px solid #dddddd; }
    ul#main-menu li:hover > ul a {
      padding: 0.3em 0.8em; }
      ul#main-menu li:hover > ul a:hover {
        color: inherit; }
    ul#main-menu li:hover > ul li {
      display: block; }
      ul#main-menu li:hover > ul li:hover ul {
        position: absolute;
        left: 100%;
        top: -0.5em; }
